<div class="alert">
    <p>
        To find out when more data is indexed or new search parameters are added, subscribe to the
        <a href="https://t.me/dumpiisearch">Telegram channel</a>.
    </p>
    <p>
        If you found this useful, please
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=VNW6RS7DEXCNU&currency_code=USD&source=url"
           target="_blank">donate</a>
        to help cover server costs. Any money left over will be donated to a cause you name in your
        donation note.
    </p>
</div>
