/* Page Layout */

header,
footer {
    margin: 5rem 0;
}

/* Results */

table {
    width: 100%;
}

th:first-child,
td:first-child {
    padding-left: 15px;
}

[title] {
    cursor: help;
    text-decoration: underline dotted;
}

.pii-EMAIL {
    background-color: rgba(128, 90, 0, 0.25);
}

.pii-PHONE {
    background-color: rgba(0, 255, 0, 0.25);
}

.pii-SSN {
    background-color: rgba(255, 0, 0, 0.25);
}

.pii-HANDLE {
    background-color: rgba(29, 161, 242, 0.25);
}

/* Alerts */

.alert {
    border: 2px solid;
    border-color: inherit;
    padding: 2.5rem 2.5rem 0 2.5rem;
}

.alert.success {
    color: #008809;
    background-color: #e5ffe8;
}

.alert.danger {
    color: #b30000;
    background-color: #ffe5e5;
}
